/* style.css */
html {
    background-color: rgb(253, 255, 236);
}

/*コンテンツ全体を中央寄せに変更*/
html,
body,
.content {
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    font-size: 1.3rem;
}

.body__wrapper {
    text-align: center;
}

.header__wrapper {
    position: fixed;
    width: 100%;
    height: 180px;
    /*単色よりもグラデーションを入れた方がリッチに見える*/
    background: linear-gradient(#ff4f0a, #ffcc00 50%, #ffcc00);
}

.header__logo-text {
    display: flex;
    margin: 2.5% 0px;
    margin-left: 1rem;
    color: black;
    letter-spacing: 0.2rem;
    width: 250px;
}

.header__logo-picture-top {
    height: auto;
}

.header__logo-picture-bottom {
    height: auto;
}

.header__logo {
    width: 700px;
    height: 125px;
    display: flex;
    padding: 10px;
    margin-left: 1rem;
}

.header__logo-picture {
    width: auto;
    height: auto;
}

/*ヘッダーのハンバーガメニュー*/
.header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* 初期状態では画面の外に隠れている */
    width: 300px;
    height: 100%;
    background: linear-gradient(#8a0000, #410000);
    color: rgb(252, 255, 213);
    transition: right 0.3s ease;
    /* スライドインのアニメーション */
    padding: 20px;
    box-sizing: border-box;
}

/* メニューが開いているとき */
.header__menu.open {
    right: 0;
}

/* ボタンのスタイル */
.hamburger {
    position: fixed;
    margin: 2.5% 0px 0px 2.5px;
    right: 1.5rem;
    width: 60px;
    cursor: pointer;
}

/* ハンバーガーメニューのバーの調整 */
.hamburger span {
    display: block;
    height: 8px;
    width: 100%;
    background: linear-gradient(#333, #474747);
    margin: 10px 0;
    transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 20px);
    background: rgb(253, 255, 236);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -20px);
    background: rgb(253, 255, 236);
}

/* メニューリストのスタイル */
.header__menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

.header__menu li {
    padding: 20px 0;
    border-bottom: 1px solid #fed994;
}

.header__menu li a {
    color: #fed994;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.header__menu li:hover {
    background: #470000;
}

/*言語変換用*/
.change-language-box {
    display: flex;
    margin-top: 10px;
}

/*言語表示を変更するボタン*/
.language-change-button {
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 242, 0));
    font-size: 1.5rem;
    font-weight: bold;
    color: #700000;
    /*ボタンの大きさ*/
    padding: 0.1em 0.5em 0.1em 0.5em;
    text-decoration: none;
    border-radius: 10px;
    font-display: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    /* 影の設定 */
}

.language-change-button:hover {
    background: #700000;
    color: #FFF;
}

/*フッター*/
.footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(#ff4f0a, #ffcc00);
}

.footer img {
    width: 100%;
    height: auto;
    max-width: clamp(50px, 150px, 200px);
}

.language__button__list {
    position: fixed;
    top: 8.5rem;
    right: 1.5rem;
}

@media screen and (max-width: 750px) {
    .header__logo-text {
        display: flex;
        margin-top: 1.5rem;
        margin-top: -7%;
    }

    .header__logo-picture-top {
        height: auto;
        width: 120px;
    }

    .header__logo-picture-bottom {
        height: auto;
        width: 80px;
    }

    .header__logo-picture {
        width: 50px;
        margin-top: -10%;
    }

    .header__wrapper {
        width: 100%;
        height: 90px;
    }

    /*ヘッダーの大きさ自体を変更させる*/
    .language__button__list {
        scale: 0.5;
        position: fixed;
        top: 0;
        margin-top: 60px;
        margin-right: -60px;
    }
    .language-change-button {
        width: auto;
        height: auto;
        font-size: 1.5rem;
        font-weight: bold;
        color: #700000;
        /*ボタンの大きさ*/
        padding: 0.1em 0.5em 0.1em 0.5em;
        text-decoration: none;
        border-radius: 10px;
        font-display: center;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        /* 影の設定 */
    }

    .header__menu {
    width: auto;
    height: 100%;
    }
    
    .hamburger {
        position: fixed;
        scale: 0.7;
        margin-top: -15px;
    }
}