/* style.css */
html {
    background-color: rgb(190, 190, 190);
}

/*リンクテキストの表示設定*/
a {
    text-decoration: none;
    color: black;
}

/*コンテンツ全体を中央寄せに変更*/
html,
body,
.content {
    justify-content: center;
    align-items: center;
}

/*ここでボディのboxの大きさを決める*/
.body__wrapper {
    width: 100%;
    height: auto;
    /*ヘッダーの大きさ分下げる*/
    background: linear-gradient(#4c0000, #640000);
    text-align: center;
}

/*メインコンテンツを入れる枠*/
.main__contents__wrapper {
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 150px;
    background-color: rgb(252, 255, 213);
    /*バックグラウンドが白単色に見えているので*/
}

.info__contents {
    justify-items: center;
    padding-bottom: 100px;
    padding: 5%;
}

/*イベント・キャンペーンのバナー*/
.info__contents__headline {
    font-size: clamp(17px, 2.9vw, 32px);
    color: rgb(145, 0, 0);

}

.info__contents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.toppage__contents__info__List {
    width: auto;
    height: 100%;
    width: auto;
    justify-content: center;
}

.info__contents-card {
    display: block;
    width: 300px;
    height: auto;
    background: linear-gradient(#8a0000, #440000);
    padding-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.info-picture {
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    outline: 2px solid rgba(0, 0, 0, 0.137);
}

.info__card-top_name {
    color: rgb(238, 255, 0);
    font-weight: bold;
    font-size: 1.3rem;
}

.info__card-top_description {
    color: rgb(253, 255, 236);
}

/*テーブルのカラーとサイズ*/
table {
    height: auto;
    width: auto;
    border-collapse: collapse;
    background: #fed994;
    width: 100%;
}

td,
th {
    height: auto;
    width: auto;
    padding: 3%;
    font-size: 1.1rem;
}

th {
    height: auto;
    width: auto;
    color: #ffffff;
    background: #8a0000;
}

table tr:nth-child(odd) {
    background: #fffae6;
}

td {
    border-bottom: 2px solid #8a0000;
}

.border_rounded {
    border: 3px solid #8a0000;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 99%;
}

/*電話番号、メールアドレス*/
.info__contents__tell {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5%;
}
.info__contents__tell:hover{
    background: rgba(0, 0, 0, 0.397);
}

.info__contents__mail {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}
.info__contents__mail:hover{
    background: rgba(0, 0, 0, 0.397);
} 